@use 'general/variables' as v;
@use 'general/mixins' as m;

.projects {
    margin-top: 5rem;

    &__heading {
        margin-bottom: 2rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }
}

.project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: v.$black;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    &__title {
        font-size: 2rem;
        margin: 0;
    }

    &__img {
        width: 25rem;
        background-position: center;
        background-size: cover;
        aspect-ratio: 16 / 9;
    }

    @for $i from 1 through 19 {
        &:nth-child(#{$i}) &__img {
            background-image: url(../img/#{$i}.webp);
        }
    }
}