@use '../helpers/variables' as v;

.user-info__button{
    margin-top: 2rem;
    margin-bottom: 4rem;

    &--link{
        border: 0.2rem solid v.$primary;
        padding: 2rem;
        border-radius: 3rem;
        color: white;
        box-shadow: 0 10px 10px -4px rgba($color: #000000, $alpha: 0.22);
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        transition: background-color 0.2s linear;
        &:hover{
            background-color: v.$primary;
            color: white;
        }
    }
}

.user-info__footer{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}